body {
  background: var(--bg-alt);
}

.app-wrapper {
  @apply relative flex flex-col shadow;
  background: var(--bg);
  height: 100vh;
  margin: auto;
  width: 100%;
  max-width: $app-width;
}

.app-nav {
  @apply border-b flex items-center left-0 py-2 px-4 relative select-none;
  &__title {
    @apply font-bold pr-2;
    font-size: 1.5rem;
    img {
      max-height: 55px;
    }
  }
  .btn {
    @apply relative px-3;
  }
  .pill {
    @apply absolute bottom-0 right-0;
  }
  &__clock {
    @apply cursor-pointer flex items-center;
    color: #008800;
    font-size: 2rem;
    font-family: Digital-7, monospace, sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
  }
  &__blink {
    animation: blink-animation 1s steps(5, start) infinite;
    &.-small {
      @apply ml-1;
      animation: blink-animation 1.5s steps(5, start) infinite;
      font-size: 0.5em;
      line-height: 1;
    }
  }
  &__clock-list .list-group-item {
    @apply cursor-pointer;
  }
  .ec-sleeping {
    font-size: 0.75em;
    @apply ml-2 mt-2;
  }
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
