@import 'tailwind.css';

@import './views.css';
@import './app-nav.css';
@import './room-map.css';
@import './session-card.css';

@font-face {
  font-family: "Digital-7";
  src: url("/digital-7/digital-7.ttf");
}

.ec {
  &.yes-no-may-be-so-blob,
  &.party-blob,
  &.party-blob-2,
  &.conference-logo{
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
    height: 1.2em;
    width: 1.2em;
  }
  &.yes-no-may-be-so-blob {
    background-image: url("/public/yes-no-may-be-so-blob.gif");
  }
  &.party-blob {
    background-image: url("/public/party-blob.gif");
  }
  &.party-blob-2 {
    background-image: url("/public/party-blob-2.gif");
  }
  &.conference-logo {
    background-image: url("/public/favicon.ico");
  }
}

