.session-card {
  @apply relative;
  height: calc(100vh - 72px);
  max-height: 400px;
  max-width: unset; /* annoying width constraint from @unrest/tailwind */
  width: 100%;
  .card-title {
    @apply font-bold text-lg;
  }
  .card-body {
    @apply flex flex-col gap-4;
  }
  &__details {
    margin-top: -1.5rem;
  }
  &__bottom {
    @apply absolute border-t inset-0 p-6 pt-4 w-full;
    top: unset;
  }
  &__actions {
    @apply flex justify-between;
  }
  &__vote-button {
    @apply block text-center cursor-pointer;
    .ec {
      font-size: 3em;
    }
  }
}
