.session-card {
  @apply relative;
  max-width: unset; /* annoying width constraint from @unrest/tailwind */
  width: 100%;
  .card-body {
    @apply flex flex-col gap-4;
  }
  &__details {
    margin-top: -0.5rem;
  }
  &__bottom {
    @apply absolute border-t inset-0 p-6 pt-4 w-full;
    top: unset;
  }
  &__vote-button {
    @apply block text-center cursor-pointer;
    .ec {
      font-size: 3em;
    }
  }
  .h3 {
    line-height: 1.2;
  }
}

.list-group-item {
  .session-card__details {
    margin-top: -1em;
  }
  .session-title {
    @apply w-full;
    .h3 {
      @apply truncate w-full text-lg;
    }
  }
}
