body {
  --nav-height: 72px;
  --button-height: 80px;
}

.app-view {
  @apply px-6 py-4;
  height: calc(100% - var(--nav-height));
  max-height: calc(100% - var(--nav-height));
  overflow-y: auto;
  &:has(.app-view__btns) {
    height: calc(100% - var(--nav-height) - var(--button-height));
    max-height: calc(100% - var(--nav-height) - var(--button-height));
  }
  &__btns {
    @apply border-t bottom-0 fixed flex items-center justify-between p-4;
    background: var(--bg);
    left: 50%;
    transform: translate(-50%, 0);
    width: $app-width;
    z-index: 1;
    &.-vote {
      @apply justify-around;
    }
  }
  &__btn {
    @apply cursor-pointer flex items-center gap-4;
    i {
      order: 0;
      font-size: 2em;
    }
    &.-next i {
      order: 1;
    }
    &.-disabled {
      opacity: 0.15;
      pointer-events: none;
    }
  }
}

.time-view {
  .time-group {
    @apply mb-8 overflow-hidden;
    &__name {
      background-color: var(--bg-alt);
      text-transform: capitalize;
      &-inner {
        @apply flex flex-grow items-center font-bold gap-2 text-xl;
      }
    }
  }
}

.help-view {
  .ec {
    font-size: 2em;
  }
  .h2 {
    @apply text-center;
  }
  .h4 {
    @apply flex gap-4 items-center justify-center;
  }
  &__vote {
    @apply flex gap-2 items-center ml-4;
  }
  .hr {
    @apply border-b mb-4 mt-2;
  }
  &__actions {
    @apply text-center mt-4;
  }
  &__action {
    @apply flex gap-2 items-center justify-center;
  }
  .btn {
    @apply my-4;
  }
  &__random-text {
    @apply text-center;
    white-space: pre-line;
    color: var(--text-alt);
  }
}

.master-view__cell {
  cursor: pointer;
  max-width: 250px;
  .master-view__truncate {
    @apply block truncate;
  }
  &.-last-swapped {
    outline: 4px rgba(255,255,255,0.5) solid;
  }
  &.-selected {
    outline: 4px white solid;
  }
}

.table.-striped tbody tr:nth-of-type(odd) {
  background: var(--bg-alt);
}